In [72]:
import pandas as pd
import numpy as np

In [73]:
data = pd.read_excel("ng sd data.xlsx",sheet_name="daily sd",skiprows=[0,1])

In [74]:
data.head()

,weekday,date,production (source 1),production (source 2),Canadian import,Export to Mexico,LNG net export,total Burn in power generation,Net weather normalized power burns,nuclear gas burn,hydro gas burn,wind gas burn,Net normalized burn
0,4,2015-01-01,71.924128,71.849,5.680812,1.968364,-0.068681,23.392,1.672910,-0.191260,0.537368,0.026138,2.045155
1,5,2015-01-02,71.910024,71.843,6.229438,2.026650,-0.068681,22.996,5.257342,-0.113233,0.576331,-0.953068,4.767371
2,6,2015-01-03,71.206279,71.251,6.565548,2.172027,-0.025681,21.600,5.480145,-0.019832,0.659123,-0.093736,6.025700
3,7,2015-01-04,71.086729,71.076,6.409509,2.176923,-0.029681,23.293,5.356240,-0.059219,0.553217,1.068460,6.918698
4,1,2015-01-05,71.088634,70.997,6.947736,2.287802,-0.100681,25.192,3.210589,0.035148,-0.074008,1.280076,4.451805

In [75]:
data["date"] = data["date"].astype(str)  + " 06:20:00"

In [76]:
data.rename ({"date":"datetime"},axis=1,inplace=True)

In [77]:
data.head()

,weekday,datetime,production (source 1),production (source 2),Canadian import,Export to Mexico,LNG net export,total Burn in power generation,Net weather normalized power burns,nuclear gas burn,hydro gas burn,wind gas burn,Net normalized burn
0,4,2015-01-01 06:20:00,71.924128,71.849,5.680812,1.968364,-0.068681,23.392,1.672910,-0.191260,0.537368,0.026138,2.045155
1,5,2015-01-02 06:20:00,71.910024,71.843,6.229438,2.026650,-0.068681,22.996,5.257342,-0.113233,0.576331,-0.953068,4.767371
2,6,2015-01-03 06:20:00,71.206279,71.251,6.565548,2.172027,-0.025681,21.600,5.480145,-0.019832,0.659123,-0.093736,6.025700
3,7,2015-01-04 06:20:00,71.086729,71.076,6.409509,2.176923,-0.029681,23.293,5.356240,-0.059219,0.553217,1.068460,6.918698
4,1,2015-01-05 06:20:00,71.088634,70.997,6.947736,2.287802,-0.100681,25.192,3.210589,0.035148,-0.074008,1.280076,4.451805

In [78]:
data.to_csv("dailySd.csv",index=False,float_format='%.2f')

In [79]:
data = pd.read_excel("ng sd data.xlsx",sheet_name="weekly storage survey actual",skiprows=[0])

In [80]:
data.head()

,year,release,end.date,eia,consensus medium Wed 3:30pm cst,allstar (a top group) Wed 3:30pm cst,ice swap market Thursday 9am cst,Implied weather adjusted balance vs 5-year average,Implied weather adjusted balance vs previous year
0,2015,2015-03-05,2015-02-26,-229,-225.0,-227.0,NaN,5.295428,5.667715
1,2015,2015-03-12,2015-03-05,-198,-194.5,-197.0,NaN,1.945124,-0.284875
2,2015,2015-03-19,2015-03-12,-43,-50.1,-51.5,NaN,1.785065,1.732580
3,2015,2015-03-26,2015-03-19,11,9.5,8.3,NaN,1.422265,1.100688
4,2015,2015-04-02,2015-03-26,-18,-11.2,-12.7,NaN,-0.490715,-0.883496

In [81]:
data["release"] = data["release"].astype(str)  + " 09:30:00"

In [82]:
data.head()

,year,release,end.date,eia,consensus medium Wed 3:30pm cst,allstar (a top group) Wed 3:30pm cst,ice swap market Thursday 9am cst,Implied weather adjusted balance vs 5-year average,Implied weather adjusted balance vs previous year
0,2015,2015-03-05 09:30:00,2015-02-26,-229,-225.0,-227.0,NaN,5.295428,5.667715
1,2015,2015-03-12 09:30:00,2015-03-05,-198,-194.5,-197.0,NaN,1.945124,-0.284875
2,2015,2015-03-19 09:30:00,2015-03-12,-43,-50.1,-51.5,NaN,1.785065,1.732580
3,2015,2015-03-26 09:30:00,2015-03-19,11,9.5,8.3,NaN,1.422265,1.100688
4,2015,2015-04-02 09:30:00,2015-03-26,-18,-11.2,-12.7,NaN,-0.490715,-0.883496

In [83]:
data.rename ({"release":"datetime"},axis=1,inplace=True)

In [84]:
data.to_csv("weeklyStorageSurvey.csv",index=False,float_format='%.2f')